@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

button {
	background-color: transparent;
	border: none;
	box-shadow: none;
	outline: none;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 728px;
}

.feed {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 16px;
}

@media screen and (min-width: 728px) {
	.feed {
		padding: 16px 0;
	}
}

.post {
	background-color: white;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 30px;
}

.post__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.post__header .user {
	display: flex;
	align-items: center;
}

.post__header .user__thumb {
	height: 40px;
	margin-right: 8px;
	width: 40px;
}

.post__header .user__name {
	color: black;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

.post__context {
	font-size: 1.4rem;
}

.post__figure {
	overflow: hidden;
	margin: 0;
	height: auto;
	width: 100%;
}

.post__figure img {
	width: 100%;
}

.post__controls {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 4px 0;
}

.post__control {
	font-size: 2.4rem;
	margin: 0 8px;
}

.post__control:last-of-type {
	justify-self: flex-end;
	margin-left: auto;
}

.post__status {
	display: flex;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.05);
}

.post__status .user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.post__status .user span {
	font-size: 1.2rem;
}








