.user__thumb {
	display: flex;
	border-radius: 100%;
	overflow: hidden;
	padding: 0;
	height: 50px;
	width: 50px;
}

.user__thumb__wrapper {
	border-radius: 100%;
	border: 2px solid white;
	display: inline-block;
	overflow: hidden;
}

.user__thumb img {
	height: 100%;
	width: 100%;
}

.user__thumb--hasNew {
	border: 4px solid rgb(248, 3, 207);
}

.user__thumb[data-tamanho="grande"] {
	width: 80px;
	height: 80px;
	margin: 0 8px;
	justify-content: center;
	align-items: center;
}

.user__thumb__wrapper .user__thumb[data-tamanho="grande"] {
	height: 72px;
	width: 72px;
}

.user__thumb[data-tamanho="pequeno"] {
	height: 30px;
	width: 30px;
	margin-right: 8px;
}
